* {
    background-color: #D9D9D9 ;
    font-family: "Lora", serif;
    
}
.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}
.fundo  {
    background-color: white;
    border-radius: 50px;
    width: 50%;
    height: 50%;
}

.title {
    
    font-weight: bold;
    font-style: italic;
    color: #111E64;
}
.container p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    width: 20%;
    height: 25%;
    padding-left: 200px;
}