* {
    font-family: 'Lora', serif;
}

body {
    background: linear-gradient(135deg, #000000 33%, #AA4702 51%, #000000 80%);
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 200px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    margin: 0;
}

.Card p {
    margin-top: 5px;
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
}

.NavCad {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.NavCad a {
    text-decoration: none;
    color: black;
}

.Card_inf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -195px;
    margin-bottom: -220px;

}

.Logo_Parex {
    margin-top: 200px;
    margin-left: -300px;
    margin-bottom: 300px;
}


#Facil_card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 280px;
    font-size: 96px;
    margin-right: 300px;
}

#boll_1,
#boll_2,
#boll_3,
#boll_4 {
    z-index: 2;
}

#boll_1 {
    position: absolute;
    bottom: 75%;
    right: 80%;
    transform: translate(0, 0);
    border-radius: 50%;
    width: 200px;
    height: 190px;
    background: linear-gradient(214.56deg, rgba(255, 105, 0, 0.8) 26.46%, rgba(0, 0, 0, 0.8) 46.54%, rgba(0, 19, 255, 0.8) 65.35%);
    backdrop-filter: blur(2px);
}

#boll_2 {
    position: absolute;
    bottom: -10%;
    left: 84%;
    transform: translate(0, 0);
    border-radius: 50%;
    width: 145px;
    height: 140px;
    background: linear-gradient(214.56deg, rgba(255, 105, 0, 0.8) 26.46%, rgba(0, 0, 0, 0.8) 46.54%, rgba(0, 19, 255, 0.8) 65.35%);
    backdrop-filter: blur(2px);
}

#boll_3 {
    position: absolute;
    bottom: 23%;
    right: 84%;
    transform: translate(0, 0);
    border-radius: 50%;
    width: 145px;
    height: 140px;
    background: linear-gradient(214.56deg, rgba(255, 105, 0, 0.8) 26.46%, rgba(0, 0, 0, 0.8) 46.54%, rgba(0, 19, 255, 0.8) 65.35%);
    backdrop-filter: blur(2px);
    z-index: 0;
}

#boll_4 {
    position: absolute;
    top: -5%;
    right: -15%;
    transform: rotate(-1.12deg);
    border-radius: 50%;
    width: 268.04px;
    height: 250.82px;
    background: linear-gradient(214.56deg, rgba(255, 105, 0, 0.8) 29.06%, rgba(0, 0, 0, 0.8) 51.71%, rgba(7, 26, 148, 0.8) 67.95%);
    opacity: 0.8;
    z-index: 0;
}




#box_log {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 600px;
    width: 600px;
    position: relative;
    z-index: 1;

    border-radius: 0px 100px 0px 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}

#Option_re {
    background: white;
    margin-top: 3px;
    padding-top: 8px;
    text-align: center;
    height: 35px;
    width: 170px;
    font-size: 20px;
    border-radius: 15px;
}

#Option {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin-top: 3px;
    padding-top: 8px;
    text-align: center;
    height: 35px;
    width: 170px;
    font-size: 20px;
    border-radius: 15px;
}

#Nav_box {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    height: 50px;
    width: 400px;
    margin-top: -30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.Sing_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Signup {
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(200deg, #FF6900 10%, #000000 60%, #3B2197 100%);
    padding-top: 7px;
    font-size: 32px;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    text-align: center;
}

#Signup:hover {
    background: linear-gradient(200deg, #ff6a00b7 10%, #0000003d 60%, #3b219791 100%);
}

.campo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Inf_cadast {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 60px;

}

.campo_user {
    margin-right: 90px;
}

.campo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.campo label {
    width: 90px;
    color: white;
    font-size: 24px;
}

.campo input {
    width: 349px;
    height: 49px;
    font-size: 24px;
    border-radius: 12px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

input:focus {
    border: 2px solid orange;
}

.campo_singup {
    margin-top: 70px;
    margin-left: 90px;
}